/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require footer
 *= require _settings
 *= require header
 *= require alerts
 *= require welcome
 *= require foundation
 *= require lessons
 *= require notesform
 *= require scaffolds

 */
.fi-chemistry{
    display: block;
    margin: 18% auto;
    position: relative;
    color: white;
}
.fi-history{
    display: block;
    margin: 20% auto;
    position: relative;
    color: white;
}


header {
    background: image-url("Study.jpg") no-repeat;
    background-size: cover;
    background-position: 50% -120px;
    background-position-x: 50%;
    background-position-y: -120px; 
    background-size: 100%;
    position: relative;
    overflow: visible;
    padding-top: 2.5rem;
    padding-bottom: 9rem; 
    line-height: 0.01;
}
.header-wrapper{
    background: image-url("Study.jpg") no-repeat cover;
    background-position: 50% -120px;
    background-position-x: 50%;
    background-position-y: -120px;
    overflow: auto;

}


@media screen and (max-width: 1160px) {
    header{
        background-position: 80% -120px;
        background-position-x: 80%;
        background-position-y: -120px;
    }
}
@media screen and (max-height: 700px) {
  header {
    background-position: 80% 0%;
    background-position-x: 80%;
    background-position-y: 0%;
}
}
.header .headline {
    color: #ffe; }
.logo{
    text-align: center;
}
.medium-text-size{
    font-size: medium;
    width: 80%;
    margin: auto;
    text-align: justify;
}
.header-subnav {
    float: none;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    width: 100%; }
.header-subnav li {
    float: none;
    display: inline-block; }
.header-subnav li a {
    padding: 0.9rem 1rem;
    font-size: 0.75rem;
    color: #ffe;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.35s ease-in-out; }
.header-subnav li a.is-active {
    background: rgba(250, 250, 250, 0.15); }
.header-subnav li a:hover {
    background: rgba(250, 250, 250, 0.15);
    transition: all 0.35s ease-in-out; }

.slick-slide{
    text-align: -webkit-center;
}
.squad{
    background-color: #569;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: table;
    font-size: 3rem;
    box-sizing: content-box;
}
.squad p{
    text-align: center;
}
.squad span{
    color: #ffffff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}

.child span{
    font-size: 2rem;
}
.child p{
    text-align: center;
}
.child {
    max-width: 300px;
}
.child .text{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.child .text p{
    padding: 10px;
}

.crystal-input{
    border-color: #f2f2f2;
    background-color: transparent !important; 
    color: #f2f2f2 !important;
}
.crystal-input:focus{
    color: #333333 !important;
    background-color: #f2f2f2 !important;
}

.input-notes{
    margin-top:50px  !important;
}
header .button{
    border :1px solid #22BB5B !important;
    background-color: transparent !important;
}
header .button:hover{
    color: #f2f2f2;
    background-color: #22BB5B !important ;
}

.header-text-logo{
    text-align: center;
    font-size: 1rem;
    color: #f2f2f2;
}
.filin-logo{
    margin-left: -1.9rem;
}
.lessons{
    padding-top: 30px ;
    color: #f2f2f2;
    background: image-url("kniga.jpg") no-repeat;
    background-size: cover;
    background-position: 40% center;
}
body{
    background-color: #F5F7FA !important;
}
.centrator{
    padding-top: 100px;
    padding-bottom: 100px;
}
