.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.topnav li a {
    display: inline-block;
    /*color: #f2f2f2;*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}


.topnav li.icon {display: none;}

@media screen and (max-width:1065px) {
  .topnav li:not(:first-child) {display: none;}
  .topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:1065px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive li {
    float: none;
    display: inline;
  }
  .topnav.responsive li a {
    display: block;
    text-align: left;
  }
}




@media screen and (max-width: 500px){
.nav-title{
  font-size: 3px;
}
}
.nav-title{
  text-align: center;
  font-size: 2rem;
  color: #f2f2f2
}
.header-title small{
  font-size: 1rem;
  text-align: center;
  color: #f2f2f2;
}

.filin img{
  z-index: 10;
  margin-top: 1rem;
}

#myTopnav li{
  text-shadow: 
    -0   -1px 0   #000000,
     0   -1px 0   #000000,
    -0    1px 0   #000000,
     0    1px 0   #000000,
    -1px -0   0   #000000,
     1px -0   0   #000000,
    -1px  0   0   #000000,
     1px  0   0   #000000,
    -1px -1px 0   #000000,
     1px -1px 0   #000000,
    -1px  1px 0   #000000,
     1px  1px 0   #000000,
    -1px -1px 0   #000000,
     1px -1px 0   #000000,
    -1px  1px 0   #000000,
     1px  1px 0   #000000;
}

.header-text-shadow{
  text-shadow: 
    -0   -1px 0   #000000,
     0   -1px 0   #000000,
    -0    1px 0   #000000,
     0    1px 0   #000000,
    -1px -0   0   #000000,
     1px -0   0   #000000,
    -1px  0   0   #000000,
     1px  0   0   #000000,
    -1px -1px 0   #000000,
     1px -1px 0   #000000,
    -1px  1px 0   #000000,
     1px  1px 0   #000000,
    -1px -1px 0   #000000,
     1px -1px 0   #000000,
    -1px  1px 0   #000000,
     1px  1px 0   #000000;
}

