.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}


.topnav li a {
    display: inline-block;
    /*color: #f2f2f2;*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}


.topnav li.icon {display: none;}

@media screen and (max-width:850px) {
  .topnav li:not(:first-child) {display: none;}
  .topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:850px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive li {
    float: none;
    display: inline;
  }
  .topnav.responsive li a {
    display: block;
    text-align: left;
  }
}





