// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box {
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 25px;
  display: block;
  margin-top: 60px; }


.box-icon {
  background-color: #569;
  border-radius: 50%;
  display: table;
  height: 100px;
  margin: 0 auto;
  width: 100px;
  font-size: 3rem; }
.box-icon span {
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.info h4 {
  font-size: 26px;
  letter-spacing: 2px;
  text-transform: uppercase; }
.info p {
  color: #717171;
  font-size: 16px;
  padding-top: 10px; }
.info a {
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.5s ease 0s; }
.info a:hover {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.5s ease 0s; }
.detox {
  width: 80%;
  margin: auto;
  height: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  line-height: 12px;
  overflow: hidden;
}
.module{
  padding: 20px;
  width: 100%;
  background-color: #d9e1ee;
}
.child {
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;

}
.slick-slide{
  text-align: center;
}

.slick-slide img{
  margin: auto;
}
.slick-arrow{
  z-index: 10;
  color: black;
}

.child-sl{
  padding: 20px;
}
.post{
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 #ffffff, 0 2px 10px 0 #333333;
  padding: 10px 25px;
  display: block;
  margin-top: 60px;
}
.hider {
    overflow: hidden;
    float: left;
}
 
.carousel-list {    
    list-style: none;
    width: 10000px;
    padding: 0px;
    position: relative;
}
 
.carousel-el {
    display: block;
    float: left;
    border: 1px solid;
}
 
.carousel-el img {
    max-width: 300px;
    max-height: 500px;
}
 
.arrow-left, .arrow-right {
    font-size: 30px;
    margin-top: 10%;
}
.arrow-left:hover, .arrow-right:hover {
    cursor: pointer;
    color: #074E68;
}
 
.arrow-left {
}
 
.arrow-right {
}