// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fi-torso{
  font-size: 1.9rem;
  color: white;

  display: inline-block;
}
span .fi-torso{
  color: #2E2F30;
}